# Merchant Code & API Key dari dashboard Duitku
DUITKU_MERCHANT_CODE=
DUITKU_API_KEY=

# Mode: sandbox | production
DUITKU_ENV=sandbox

# Base URL aplikasi (untuk callback / return)
BASE_URL=http://localhost:3000
